<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J. Segel</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body style="background-image: url('img/MidnightCity.jpg');">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <h1 class="navbar-brand" href="#">Josh Segel</h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/" >Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                  </li>
              </ul>
            </div>
          </nav>
    </header>
    <div class="container">
      <div class="row">
        <div class="col">

        </div>
        <div class="col-6" id="about">
          <!-- <div id="aboutpic"> -->
            <img src="img/me.png" height="150" width="150"
            style="margin-top: 10px;
            margin-right: 10px;
            float: left;">
          <!-- </div> -->
          <br>
            I am a Full-Stack Web Developer based out of Chicago, Illinois. March 2020 graduate of the Northwestern University Full-Stack Development Program. Proficient in HTML, CSS, Javascript, Node.js, React, jQuery, MySQL, MongoDB, Express, Handlebars...
            <br>
            <br>
           Former freight broker at Echo Global Logistics, I specialize in delivering what you need done, when you need it, no exceptions.
           <br>
           <br>
           <a id="contactLink" href="/contact">Contact Me >> </a> via email, phone or LinkedIn.
        </div>
        <div class="col">
          
        </div>
      </div>
    </div>
    <footer style="position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    color: white;
    border-top: black solid 1px;
    ">
      © 2020 Josh Segel
    </footer>
</body>
</html>

