<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J. Segel</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-image: url('../public/img/MidnightCity.jpg');">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <h1 class="navbar-brand" href="#">Josh Segel</h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#" >Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                  </li>
              </ul>
            </div>
          </nav>
    </header>
    <div class="container">
     <div class="row">
       <div class="col" style="color: white;">
         <!-- Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti dignissimos necessitatibus voluptatibus, ratione harum quis labore minima eum officia, quod porro. Iste numquam sapiente porro nulla nam incidunt, alias laboriosam. -->
       </div>
       <div class="col-6" style="color: white; top: 150px;">
        <div style="font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; font-size: 48px;">
          Josh Segel
        </div>
        <div>
          <a href="#">View My Work</a>
        </div>
      </div>
        <div class="col" style="color: white;">
          <!-- Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, vero assumenda, maiores, nulla earum iusto fugiat atque dolores perspiciatis necessitatibus repudiandae adipisci corrupti non nemo accusamus quas culpa cum aliquam? -->
        </div>
     </div>
    
    </div>
</body>
</html>

