<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J. Segel</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-image: url('img/MidnightCity.jpg');">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <h1 class="navbar-brand" href="#">Josh Segel</h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/" >Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/portfolio">Portfolio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                  </li>
              </ul>
            </div>
          </nav>
    </header>
    <div class="container">
      <div class="row">

        <div class="col">
          <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="img/password.png" alt="Card image cap" height="200">
            <div class="card-body">
            <h5 class="card-title">Password Generator</h5>
            <p class="card-text">Javascript based Web App for quick creation of secure passwords based on user requirements.</p>
            <a href="https://jsegel9.github.io/password-generator/" class="btn" style="background-image: url('img/MidnightCity.jpg'); color: #39ff14;">View >></a>
            </div>
         </div>
        </div>

        <div class="col">
          <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="img/darts2.jpg" alt="Card image cap" height="200">
            <div class="card-body">
            <h5 class="card-title">Darts Scoreboard</h5>
            <p class="card-text">Javascript based Web App for tracking scoring for common darts games including Cricket, 301 and more.</p>
            <a href="#" class="btn" style="background-image: url('img/MidnightCity.jpg'); color: #39ff14;">View >></a>
            </div>
         </div>
        </div>
        
    <div class="col">
      <div class="card" style="width: 18rem;height: 100%;">
        <img class="card-img-top" src="img/empmgm.png" alt="Card image cap" height="200">
        <div class="card-body">
          <h5 class="card-title">Employee Management System</h5>
          <p class="card-text">Node.JS CLI app for easily managing and updating any organization of people.</p>
          <a href="#" class="btn" style="background-image: url('img/MidnightCity.jpg'); color: #39ff14;">View >></a>
        </div>
      </div>
    </div>


    <div style="margin-top: 5%; margin-left: 2%;">

      </div>



    </div>

    <div class="row">

      <!-- Next Row Goes Here -->

    </div>

      

    </div>
    <footer style="position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    color: black;
    border-top: black solid 1px;
    ">
      © 2020 Josh Segel
    </footer>
</body>
</html>

